{% extends "base.html" %}

{% block title %}Контакти{% endblock %}

{% block content %}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d566.0366056299034!2d23.567855895440022!3d49.93166073188578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473b3d663fcc44a3%3A0x4d8c19463c4a1b02!2z0J3QvtCy0L7Rj9Cy0L7RgNGW0LLRgdGM0LosINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1736697668980!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<h2>Наші Контакти</h2>
<p>Менеджер - +380985409788</p>
<p>Instagram - Slopi</p>
<p>Telegram - slopitg</p>
<p>TikTok - Slopi</p>
<p>Gmail - slopi@gmail.com</p>
<p>Працює з 10:00 до 22:00</p>




{% endblock %}