{% extends "base.html" %}

{% block title %}Головна - Магазин одягу{% endblock %}

{% block content %}
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8kcwKMpyTRvmXZ_n2aqMlrXvKk11DT-GaQQ&s"  width="300">
<h2>Ласкаво просимо до нашого магазину!</h2>
<p>Ласкаво просимо до Slopi – місця, де стиль, комфорт і якість поєднуються для створення вашого унікального образу. Ми раді вітати вас у світі, де кожна річ створена з любов’ю до деталей, турботою про вас і прагненням зробити ваш день кращим. У нашому асортименті ви знайдете все, що потрібно для того, щоб почуватися впевнено й виглядати бездоганно. Slopi – це більше, ніж просто магазин, це ваша натхненна подорож у світ сучасної моди, що відповідає вашим цінностям та потребам. Обираючи нас, ви отримуєте не лише якісний продукт, але й частинку нашої душі, вкладеної в кожну деталь. Дякуємо, що обираєте нас, ми працюємо для вас із щирою вдячністю та бажанням перевершити всі ваші очікування.
Дякуємо, що обрали нас!
Ваш Slopi.</p>


<h1>Розташування магазинів</h1>
<p>Новояворівськ, ТЦ "Підкова", 2 поверх</p>
<p>Львів, ТЦ "Форум", 2 поверх</p>
<p>Одеса, ТЦ "Athena Gallery", 1 поверх</p>
<p>КиЇв, ТЦ "Ocean Plaza", 1 поверх</p>

<h1>Розклад праці</h1>
<p>10:00 - 22:00 Пн</p>
<p>10:00 - 22:00 Вт</p>
<p>10:00 - 22:00 Ср</p>
<p>10:00 - 22:00 Чт</p>
<p>10:00 - 22:00 Пт</p>
<p>11:00 - 20:00 Сб</p>
<p>10:00 - 20:00 Нд</p>
{% endblock %}